<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>Hello Adonis</title>
</head>
<body>
  <h1>Hi there</h1>
  <p>This is the Swag-gp API root</p>
  <p>Refer to <a href="https://swag-gp.herokuapp.com/docs">the docs</a> to use this API.
</body>
</html>
